@model AluguelDeCarrosMVC.Models.Aluguel

@{
    ViewData["Title"] = "Editar Aluguel";
}

<h1>@ViewData["Title"]</h1>

<h4>Editando o registro de Aluguel</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group mb-3">
                <label asp-for="ClienteId" class="control-label">Cliente</label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="CarroId" class="control-label">Carro</label>
                <select asp-for="CarroId" class="form-control" asp-items="ViewBag.CarroId"></select>
                <span asp-validation-for="CarroId" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="DataRetirada" class="control-label">Data da Retirada</label>
                <input asp-for="DataRetirada" class="form-control" />
                <span asp-validation-for="DataRetirada" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="DataDevolucao" class="control-label">Data da Devolução</label>
                <input asp-for="DataDevolucao" class="form-control" />
                <span asp-validation-for="DataDevolucao" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ValorTotal" class="control-label">Valor Total</label>
                <input asp-for="ValorTotal" class="form-control" />
                <span asp-validation-for="ValorTotal" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar para a Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}